<aside class="widget">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget-content">
<ul id='link-list'>
<!-- link begin -->

<li><a href='http://iwbo.me'>Love me</a></li>


<!-- -->

<li><a href='http://acfun.com/'>暂时还没有诶</a></li>


<!-- -->

<li><a href='http://google.com/hk/'>google</a></li>

<!-- link end -->
</ul>
    </div>
</aside>